@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-futura-light: var(--font-futura-light);
  --font-futura-medium: var(--font-futura-medium);
  --color-Dark-blue: #0000ff;
  --color-Yellow: #fbffa7;
  --color-Lightblue: #b1c5ff;
  --color-Lightpurple: #d5b3ff;
  --color-Lightgreen: #b6ffc0;
  --color-Orange: #ff764d;
  --breakpoint-desktop: 1440px

}

::selection {
  background-color: var(--color-Dark-blue);
  color: white;
}

body {
  background-color: #f3f3f3;
}
